<%= turbo_frame_tag :project_grid do %>
  <div class="card-home-cards" data-controller="masonry">
    <div class="card-home-sizer"></div>
    <!-- This controls the column width -->
    <% projects.each do |project| %>
      <%= link_to project_path(project), data: { turbo: "false" } do %>
        <div class="card-home-project">
          <%= cl_image_tag project.main_image.key %>
          <div class="home-project-info">
            <p class="project-name"><%= project.name.upcase %></p>
            <p class="project-category"><%= project.category.name.upcase %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
